.ipynb_checkpoints
*/.ipynb_checkpoints/*

/.quarto/
/_manuscript
/data
/data/bids/limited_energy/derivatives/control_models

/agujournal2019.cls
/trackchanges.sty

**/*.quarto_ipynb
/pres-test_files/
/task_structured_pref_presentation_files/
/utilities/__pycache__/
/site_libs/
